.jumbotron
  .container
    %h1 Qipowl rules
    %p
      %em Qipowl
      is the next generation markup environment. It’s not the
      markup language only, since it provides the very efficient and straightforward
      library to produce custom markups. It′s not the markup library either,
      since it comes with ready-to-use markdown-like markup and 2HTML converter.
    %p
      %a.btn.btn-primary.btn-lg{:href => "https://github.com/mudasobwa/qipowl#usage"} Learn more »»»

.container
  .row
    .col-lg-6
    .col-lg-6
